@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Blender Pro';
    src: url('./assets/fonts/BlenderPro-Bold.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
}
#nav-links {
    font-family: 'Blender Pro';
}